flush-end(orient=both,offset=0)
    & > *:nth-child({offset+1})
        if orient is both
            margin-{getPushSide(vertical)} 0
            margin-{getPushSide(horizontal)} 0
        else if orient is horizontal or orient is vertical
            margin-{getPushSide(orient)} 0







list(orient, gutter=gd, flow_method="inline-block", align=start, offset=0, flush=true,flexes=false)
    //TODO think this over
    //Instead of using `flushend` function, just start the pushing process one-time later
    //but this requires support for/of nth-child
    flush_number = 1
    flush_number += 1 if flush
    & > *:nth-child(n+{offset+flush_number})
        margin-{getPushSide(orient)} grid_unit(gutter)

    if flow_method is "box"
        box(flexes,orient,align)
    else
        //TODO  apply alignment rules to inline-block/block queues and stacks
        & > *:nth-child(n+{offset+1})
            display unquote(flow_method)
    
stack(gutter=gd,align=start,offset=0)
    list("vertical",gutter,"block",align,offset,true,false)

queue(gutter=gd,handle_ul=false,align=start,offset=0)
    list("horizontal",gutter,"inline-block",align,offset,true,false)
    if handle_ul is true
        list-style none
        & > *:nth-child(n+{offset+1})
            line-height 0

box-stack(gutter=gd, align=start, offset=0)
    list("vertical", gutter, "box", align, offset, false)

box-queue(gutter=gd, align=start, offset=0)
    list("horizontal", gutter, "box", align, offset, false)









hbox(flexes=false,align=start)
    box(flexes,"horizontal",align)

vbox(flexes=false,align=start)
    box(flexes,"vertical",align)

cbox()
    hbox(align:center)
    & > .inner
        vbox(center)

cblock(size)
    margin-left auto
    margin-right auto
    width grid_unit(size) if size or size is 0
