// TODO the $display is ugly here.... 


// offset=1 is a good default because it means appear flush, as in, the first item doesn't need to have a gutter
flow-gutter(gutter=1,box_part="margin",offset=1,orient,$display=false)
    nth_selector = offset ? ":nth-child(n+"+offset+")" : ""        // "
    & > *{nth_selector}
        push_from_prop = box_part +"-"+ oppositeSide(getPushSide(orient))
        vendorize-unit(push_from_prop,gutter)

        if $display
            display unquote($display)

h-gutter(gutter=1,box_part="margin",offset=1,$display=false)
    flow-gutter(gutter,box_part,offset,"horizontal",$display)

v-gutter(gutter=1,box_part="margin",offset=1,$display=false)
    flow-gutter(gutter,box_part,offset,"vertical",$display)


stack(gutter=gu,offset=1,box_part="margin")
    v-gutter(gutter,box_part,offset,"block")

// WARNING: queue must be invoked with () because only in that context are spaced NOT counted as arg separation
queue(gutter=gu,offset=1,box_part="margin",selector=false)
    hgutter = gutter[0]
    vgutter = gutter[1] || gutter[0]

    hpush_prop = box_part +"-right" 
    vpush_prop = box_part +"-bottom" 

    item_selector = selector ? selector : "*"

    if offset is 1
        queue_selector = "& > "+ item_selector
    else
        queue_selector = "& > "+item_selector+":nth-child(n+"+offset+")" //"

    {queue_selector}
        vendorize-unit(hpush_prop,hgutter)
        vendorize-unit(vpush_prop,vgutter)
        display inline-block



//TODO unquote align within box align assignment
list(orient, gutter=gu, flow_method="inline-block", align=start, offset=0, flush=true,flexes=false,move_method="margin")
    //TODO think this over
    //Instead of using `flushend` function, just start the pushing process one-time later
    //but this requires support for/of nth-child
    flush_number = 1
    flush_number += 1 if flush
    & > *:nth-child(n+{offset+flush_number})
        prop = move_method +"-"+ getPushSide(orient)
        vendorize-unit(prop,gutter)

    if flow_method is "box"
        box(flexes,orient,align)
    else
        //TODO  apply alignment rules to inline-block/block queues and stacks
        & > *:nth-child(n+{offset+1})
            display unquote(flow_method)
            vertical-align unquote(align)
    


box-stack(gutter=gu, align=start, offset=0,flush=true,flexes=false,move_method="margin")
    list("vertical", gutter, "box", align, offset, flush,flexes,move_method)

box-queue(gutter=gd, align=start, offset=0,flush=true,flexes=false,move_method="margin")
    list("horizontal", gutter, "box", align, offset, flush,flexes,move_method)


hbox(flexes=false,align=start)
    box(flexes,"horizontal",align)

vbox(flexes=false,align=start)
    box(flexes,"vertical",align)

cbox()
    hbox(align:center)
    & > .inner
        vbox(center)

cblock(size=false)
    margin-left auto
    margin-right auto

    vendorize-unit("width",size) if size or type(size) is "number"
center-block = cblock


/*
TODO
- vgutter
- hgutter
*/
matrix(length,gutter=gu,align="top",offset=0,move_method="margin",flush=true)
    // +2 because being flush means ignore gutters on the first item
    // and START doing stuff on the second item
    flush_number = 0
    flush_number += 2 if flush


    // gutters
    & > *:nth-child(n+{offset+flush_number})
        prop = move_method +"-"+ getPushSide("horizontal")
        vendorize-unit(prop,gutter)
    // +1 so that we START at the beginning of the second row
    & > *:nth-child(n+{offset+length+1})
        prop = move_method +"-"+ getPushSide("vertical")
        vendorize-unit(prop,gutter)


    // flush-horizontal
    // +1 so that we START at the beginning of the second row
    //TODO
    //- flush number?
    & > *:nth-child({length}n+{offset+length+1})
        prop = move_method +"-"+ getPushSide("horizontal")
        {prop} 0
    

    //TODO  apply alignment rules to inline-block/block queues and stacks
    // use a simpler selector when we want all the children
    // +1 because i.e. offsetting 1 means START at 2
    stricter_selector = offset is 0 ? "" : s(":nth-child(n+%s)",offset+1)
    & > *{stricter_selector}
        display inline-block
        vertical-align unquote(align)



