// helper

-pos(type, args)
  position unquote(type)
  i = 0
  if args[i]
    if args[i + 1] is a 'unit'
      vendorize-unit(args[i],args[i += 1])
    else if args[i + 2]
      //TODO check if it is correct to use + instead of += below
      vendorize-unit(args[i],args[i + 2])
    else 
      {args[i]} 0

  if args[i + 1]
    prop = args[i += 1]
    if args[i + 1] is a 'unit' 
      vendorize-unit(prop,args[i += 1])
    else
      {prop} 0



/*
 * Position utilities.
 * 
 * Synopsis:
 * 
 *   <type>: <pos> [n] <pos> [n]
 * 
 * Examples:
 * 
 *     fixed:    top left
 *     absolute: top 5px left
 *     relative: top left 5px
 *     fixed:    top 5px left 5px
 * 
 */

fixed()
  position fixed
  if arguments
    css-shorthand('', arguments)

absolute()
  position absolute
  if arguments
    css-shorthand('', arguments)

relative()
  position relative
  if arguments
    css-shorthand('', arguments)


hang(hside="left",vside="top", z_index=false)
    absolute hside vside

    & > .inner
        absolute opposite-position(hside)

    if z isnt false
        z-index z_index


absolute-center(orient=vertical,offset=false,terminus=start,pos=absolute)
    position pos unless pos is false
    margin-{getStart(orient)} offset unless offset is false

    {convertTerminusToSide(orient, terminus)} 50%

