// helper

-pos(type, args)
  position unquote(type)
  i = 0
  if args[i]
    if args[i + 1] is a 'unit'
      vendorize-unit(args[i],args[i += 1])
    else if args[i + 2]
      //TODO check if it is correct to use + instead of += below
      vendorize-unit(args[i],args[i + 2])
    else 
      {args[i]} 0

  if args[i + 1]
    prop = args[i += 1]
    if args[i + 1] is a 'unit' 
      vendorize-unit(prop,args[i += 1])
    else
      {prop} 0



/*
 * Position utilities.
 * 
 * Synopsis:
 * 
 *   <type>: <pos> [n] <pos> [n]
 * 
 * Examples:
 * 
 *     fixed:    top left
 *     absolute: top 5px left
 *     relative: top left 5px
 *     fixed:    top 5px left 5px
 * 
 */
fixed()
  position fixed
  if length(arguments) > 0
    css-shorthand('', arguments)

absolute()
  position absolute
  if length(arguments) > 0
    css-shorthand('', arguments)

relative()
  position relative
  if length(arguments) > 0
    css-shorthand('', arguments)


hang(h_side="left",v_side="top", z_index=false,selector="*")
    absolute()
    {h_side} 0
    {v_side} 0

    & > {selector}
        absolute()
        {opposite-position(h_side)} 0

    if z_index isnt false
        z-index z_index


absolute-center(orient=vertical,offset=false,terminus=start,pos=absolute)
    position pos unless pos is false
    margin-{getStart(orient)} offset unless offset is false

    {convertTerminusToSide(orient, terminus)} 50%

