// WARNING: queue must be invoked with () because only in that context are spaced NOT counted as arg separation
queue(gutter=o,alignment=false top,offset=1,box_part="margin",selector="*",flush=null)
    list_selector = build-list-selector(selector,offset)
    white-space nowrap
    {list_selector}
        display inline-block
        white-space normal
    list-gutter(gutter,selector,box_part,offset,list_selector,"horizontal",flush)
    queue-align(alignment,list_selector)



fluid-matrix(gutter=o, alignment=false top, offset=1, box_part="margin", selector="*", flush=null)
    list_selector = build-list-selector(selector,offset)
    {list_selector}
        display inline-block
    list-gutter(gutter,selector,box_part,offset,list_selector,"horizontal",flush)
    queue-align(alignment,list_selector)


queue-align(alignment=false top,list_selector="")
    h_align = alignment[0]
    v_align = alignment[1] is null ? top : alignment[1]

    if h_align 
        text-align h_align

    if v_align
        {list_selector}
            vertical-align v_align
