@import "ink/without_classes"
.test1
    h-gutter()
.test2
    h-gutter 1px, "margin", 0
.test3
    h-gutter 1rem, "padding", 4

.test4
    v-gutter()
.test5
    v-gutter 1px, "margin", 0
.test6
    v-gutter 1rem, "padding", 4

.test7
    stack()
