@import "ink/without_classes"
.test8
    queue()
.test9
    queue(4 5)
.test10
    queue(4,false,2)
.test11
    queue(gutter:0 1,selector:".b")
.test12
    queue(gutter:2px,selector:".b",box_part:"padding")

.test13
    queue(gutter:2px,selector:".b",flush:false)
.test14
    queue(gutter:2px,selector:".b",flush:false true)
.test15
    queue(gutter:2px,selector:".b",flush:true false,alignment=right bottom)
