@import "ink/without_classes"

body
    font-size base_font_size
#test1
    top 3
    right 5!important

    width 3rem
    height auto

    min-height 3px
    min-width 1rem

#test2
    margin 1rem 1 1px auto
    padding 0rem o 10% o
