@import "ink/without_classes"

.test-1
    stack()
.test-2
    stack(o 1, "*", "padding")
.test-3
    stack(2 o, ".sub-item","margin")
.test-4
    stack(o 2 .5 o)
.test-5
    stack(gutter:o 2 .5 o,flush:true)
