yes = true
no = false
on = true
off = false

very-fast ?= 100ms
fast ?= 150ms
average ?= 200ms
slow ?= 300ms
very-slow ?= 400ms

support_for_ie ?= true

vertical_push_side = "top"
horizontal_push_side = "left"
css_sides = "top" "right" "bottom" "left"
ignore_side = 'o'



/*
 *  Tag groups
 */

heading_tags = "h1,h2,h3,h4,h5,h6"
list_tags = "ul,li,ol,dl,dd,dt"
text_block_tags = heading_tags +","+ list_tags +","+ ", p"

copy_tags = "strong, em, strike, sub, sup"

text_tags = text_block_tags +","+ copy_tags



form_tags = "fieldset,form,label,legend,input,button"

table_tags = "table,tbody,thead,tr,th,td"

base_font_size ?= 12px
base_leading ?= 8px
base_lineheight = base_font_size + base_leading
gu ?= base_lineheight

//basic functions

negafiy(numbers)
    for number,i in numbers
        push_what = type(number) is 'unit'? (- number) : number
        if i is 0
            negative_numbers = push_what
        else
            push(negative_numbers,push_what)
    return negative_numbers

unitless(number)
    (unit(number)) is false

//TODO once stylus supports short circuiting, rewrite this
/*
grid-unit(args)
    n = args[0]
    important = args[1] or ''

    if type(n) is "unit" 
        if unitless(n)
            n = unit(n*gu,"px")
        s("%s %s", n, unquote(important)) 
    else
        s("%s %s", n, unquote(important)) 
*/
