fill(color)
    background-color color



// SHAPES

size(wh)
    w = wh[0]
    h = wh[1] is null ? false : wh[1]
    width  w
    height h if h

box-model(wh, _padding=false, _border=false, _box_sizing = border-box)
    size(wh)
    padding    _padding    if _padding
    border     _border     if _border
    box-sizing _box_sizing if _box_sizing

rectangle = box-model


square(wh, _padding=false, _border=false, _box_sizing=border-box)
    rectangle(wh wh, _padding, _border, _box_sizing)

//TODO There is a stylus bug that prevents math within border-radius assignment
//older versions of firefox (>4) do not support % radi, but later I can do this:
//border-radius 50% 
oval(wh, _padding=false, _border=false, _box_sizing=border-box)
    w  = wh[0]
    h  = wh[1] is null ? wh[0] : wh[1]

    rh = w/2
    rv = h/2

    border-radius rh / rv
    rectangle(w h)

circle(wh, _padding=false, _border=false, _box_sizing=border-box)
    oval(wh wh, _padding, _border, _box_sizing)


//TODO allow user to specify border side: top left right bottom
multi-border(b1,b1_offsets=0,b2=false,b2_offsets=0)
    &:before
        content ""
        z-index -1
        absolute b1_offsets
        border b1
    if b2 isnt false
        &:after
            content ""
            z-index -1
            absolute b2_offsets
            border b2



base-triangle()
    border-color transparent
    border-width 0
    border-style solid
    square 0



//TODO size should = `gd`, once bug is fixed: https://github.com/LearnBoost/stylus/issues/281
arrow(direction="up", size=18px, color=black, breadth=false, breadth_ratio=1)
    if breadth
        breadth = breadth / 2
    else
        breadth = size
    base-triangle()
    border-{oppositeSide(direction)}-color color
    border-{oppositeSide(direction)}-width size

    border-{counterClockwiseSide(direction)}-width (breadth*breadth_ratio)
    border-{clockwiseSide(direction)}-width (breadth*breadth_ratio)

    // inline content will not render as squares and therefore arrows will be stretched. 
    // this only matters if the arrow class were to be applied to a inline tag, like <span>
    display inline-block


iconButton(url)
    resetButton()
    background-image url(unquote(url))
    background-repeat no-repeat
    background-position center center

